<link rel='stylesheet' href="/public/admin/css/base.css">
<link rel='stylesheet' href="/public/admin/css/bootstrap.min.css">

<div class="table-responsive">
        <a href="/admin/goodstypeattr/add?_id={{goodstype._id}}">增加属性</a>
        <table class="table table-bordered">
            <thead>
            <tr class="th">
                <th>属性名称</th>
                <th>商品类型</th>
                <th>属性值的录入方式</th>
                <th>可选值列表</th>
                <th>排序</th>        
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
                {%for allattr in allattrs %}
                    <tr>
                        <td>{{allattr.attr_name}}</td>
                        <td>
                                {{goodstype.type_name}}
                        </td>
                        <td> 
                            {% if allattr.attr_input == 1 %}
                            手动录入
                            {%else%}
                            选择录入
                            {% endif %}
                        </td>  
                        <td>
                                {%for value in allattr.attr_value%}
                                {{value}}
                                {%endfor%}
                        </td>  
                        <td>
                                {{allattr.data_sort}}
                        </td>                  
                        <td class="text-center text">
                            <a href="/admin/goodstypeattr/edit?_id={{allattr._id}}">修改</a>　　
                            <a href="/admin/goodstypeattr/delete?_id={{allattr._id}}">删除</a>
                        </td>
                    </tr> 
                {%endfor%}      
            </tbody>
        </table>
</div>

