<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
<div class="panel panel-default">              
  <div class="panel-heading">
      增加用户等级
      <a href="/admin/userrank/add" class="pull-right">增加等级</a>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
        <thead>
        <tr class="th">
            <th>等级图标</th>
            <th>等级名称</th>
            <th>开始积分</th>
            <th>结束积分</th>
            <th>会员折扣%</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
            {% for userrank in userranks %}
                <tr>
                    <td>
                        {% if  userrank.data_sort == 1 %}
                        <span class="glyphicon {{userrank.rank_icon}} " style="color:greenyellow"/> 
                        {%elif userrank.data_sort == 2%}
                        <span class="glyphicon {{userrank.rank_icon}} " style="color:red"/> 
                        {%elif userrank.data_sort == 3%}
                        <span class="glyphicon {{userrank.rank_icon}} " style="color:pink"/> 
                        {%elif userrank.data_sort == 4%}
                        <span class="glyphicon {{userrank.rank_icon}} " style="color:black"/> 
                        {%elif userrank.data_sort == 5%}
                        <span class="glyphicon {{userrank.rank_icon}} " style="color:blue"/> 
                         {% endif %}
                    </td>
                    <td>{{userrank.rank_name}}</td>
                    <td>{{userrank.start_score}}</td>
                    <td>{{userrank.end_score}}</td>
                    <td>{{userrank.discount}}</td>
                    <td class="text-center text">
                        <a href="/admin/userrank/edit?_id={{userrank._id}}">修改</a>　　
                        <a href="/admin/userrank/delete?_id={{userrank._id}}">删除</a>
                    </td>
                </tr> 
                {% endfor %}
        </tbody>
    </table>
  </div>
</div>