<div class="aside">
   <ul class='aside-ul'>  
        {%for module in authList%} 
            <li>
                {%if (module.access_type == 1 and module.checked) or (userinfo.is_super == 1 and module.access_type)%}
                <h4>{{module.access_module}}</h4>
                {%endif%}
                <ul class="text-center">
                    {%for access in module.subAccess%}
                    {%if (access.access_type == 2 and access.checked) or (access.access_type == 2 and userinfo.is_super == 1 )%}
                        <li  class="list-group-item"> 
                            <a href="{{access.access_url}}" target="rightIfram"> 
                                {{access.access_action}}
                            </a>
                        </li> 
                        {%endif%}
                        {%endfor%}
                </ul>

                {%endfor%}
            </li> 
           
    </ul> 
</div>