<link rel='stylesheet' href="/public/admin/css/base.css">
<link rel='stylesheet' href="/public/admin/css/bootstrap.min.css">

<div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr class="th">
                <th>会员账号</th>
                <th>用户名</th>
                <th>微信</th>
                <th>邮箱</th>
                <th>积分</th>
                <th>等级</th>
                <th>状态</th>            
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
                {%for user in users %}
                
               
                    <tr>
                        <td>{{user.login_name}}</td>
                        <td>{{user.user_name}}</td>
                        <td>{{user.user_wechat}}</td>
                        <td>{{user.user_email}}</td>                      
                        <td>{{user.user_totalscore}}</td>                      
                        <td>{{user.user_rank}}</td>                      
                        <td>
                            {% if user.user_status==1%}
                            正常
                            {%else%}
                            暂停
                            {%endif%}
                        </td>                      
                        <td class="text-center text">
                            <a href="/admin/user/edit?_id={{user._id}}">修改</a>　　
                            <a href="/admin/user/delete?_id={{user._id}}">删除</a>
                        </td>
                    </tr> 
             
                {%endfor%}      
            </tbody>
        </table>
</div>

