<div class="aside">
        <ul class='aside-ul'>    
                {%for module in authList%}
                <li>
                    {%if (module.checked and module.access_type==1) or (userinfo.is_super == 1 and module.access_type==1) %}
                    <h4>{{module.access_module}}</h4>
                    {%endif%}
    
                    <ul class="text-center">
                            {% for access in module.subAccess%}
                                {%if (access.checked and access.access_type==2) or (userinfo.is_super == 1 and access.access_type==2) %}
                                <li  class="list-group-item"> 
                                    <a href="{{access.access_url}}" target="rightIfram"> 
                                        {{access.access_action}}
                                    </a>
                                </li> 
                                {%endif%}
                            {%endfor%}
                    </ul>
                </li> 
                {%endfor%}
        </ul> 
    </div>